.home-container {
  width: 100%;
  cursor: default;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}
.home-hero {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: auto;
  align-items: stretch;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.home-container01 {
  width: 100%;
  height: 105vh;
  display: flex;
  position: relative;
  max-width: auto;
  align-self: center;
  min-height: auto;
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: 0px;
  background-size: contain;
  justify-content: center;
  background-image: url("/My uploads/finannsd.webp");
  background-repeat: no-repeat;
  background-position: top right;
}
.home-container02 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: 60%;
  align-self: flex-start;
  min-height: auto;
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-card {
  width: 450%;
  height: 75%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius1);
  margin-bottom: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.78);
}
.home-text {
  height: auto;
  font-size: 2.4em;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text001 {
  color: var(--dl-color-secondary-700);
  font-size: 2.3em;
  text-align: left;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.home-text002 {
  font-size: 16px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.home-text003 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text004 {
  color: var(--dl-color-secondary-600);
}
.home-text005 {
  color: var(--dl-color-secondary-600);
  font-weight: 600;
}
.home-text006 {
  color: var(--dl-color-secondary-600);
}
.home-text007 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text008 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text009 {
  color: #1c2431;
  font-style: normal;
  font-weight: 600;
}
.home-text010 {
  color: var(--dl-color-secondary-600);
}
.home-text011 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text012 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text013 {
  color: var(--dl-color-secondary-600);
}
.home-text014 {
  color: var(--dl-color-secondary-600);
}
.home-text015 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 500;
}
.home-text016 {
  color: var(--dl-color-secondary-600);
  font-weight: 600;
}
.home-text017 {
  color: var(--dl-color-secondary-600);
}
.home-container03 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container04 {
  cursor: default;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-link {
  display: contents;
}
.home-component1 {
  text-decoration: none;
}
.home-empty {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
}
.home-features {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  padding-top: DoubleUnit;
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: DoubleUnit;
  justify-content: center;
}
.home-container05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container06 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.home-container07 {
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.home-text023 {
  font-size: 2.4em;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.6;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text024 {
  color: var(--dl-color-secondary-700);
  font-size: 2.3em;
  text-align: left;
}
.home-text025 {
  font-size: 16px;
  text-align: center;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-sixunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-sixunits);
}
.home-text026 {
  color: var(--dl-color-secondary-600);
}
.home-text027 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text028 {
  color: var(--dl-color-secondary-600);
}
.home-text029 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text030 {
  color: var(--dl-color-secondary-600);
  font-weight: 400;
}
.home-text031 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text032 {
  color: var(--dl-color-secondary-600);
}
.home-text033 {
  color: var(--dl-color-secondary-600);
  font-weight: 400;
}
.home-text034 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text035 {
  color: var(--dl-color-secondary-600);
}
.home-text036 {
  color: var(--dl-color-secondary-600);
}
.home-text037 {
  color: var(--dl-color-secondary-600);
}
.home-text038 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text039 {
  color: var(--dl-color-secondary-600);
}
.home-text040 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text041 {
  color: var(--dl-color-secondary-600);
}
.home-text042 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text043 {
  color: var(--dl-color-secondary-600);
}
.home-text044 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-text045 {
  color: var(--dl-color-secondary-600);
}
.home-text046 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  font-weight: 600;
}
.home-container08 {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-container10 {
  display: contents;
}
.home-container12 {
  display: contents;
}
.home-container14 {
  display: contents;
}
.home-container16 {
  display: contents;
}
.home-empty1 {
  width: auto;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
  margin-top: 0px;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.home-link1 {
  display: contents;
}
.home-component3 {
  text-decoration: none;
}
.home-testimonials {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.home-container17 {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
}
.home-container18 {
  display: flex;
  max-width: auto;
  align-items: flex-start;
  padding-top: 10vh;
  margin-right: 0px;
  flex-direction: column;
  padding-bottom: 10vh;
  justify-content: center;
}
.home-text048 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 4rem;
  line-height: 1.2;
}
.home-text049 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  font-size: 1.2rem;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: uppercase;
}
.home-text050 {
  font-style: normal;
  font-weight: 600;
}
.home-text052 {
  font-style: normal;
  font-weight: 600;
}
.home-text053 {
  opacity: 0.8;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-text054 {
  color: #ececec;
}
.home-text055 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-text056 {
  color: #ececec;
}
.home-text057 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-text058 {
  color: #ececec;
}
.home-text059 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-text060 {
  color: #ececec;
}
.home-text061 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-text062 {
  color: #ececec;
}
.home-text063 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-text064 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
.home-text065 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-image {
  width: 40vh;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text066 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  align-self: flex-start;
}
.home-empty2 {
  width: auto;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
  max-width: auto;
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-container19 {
  display: flex;
  position: relative;
}
.home-button {
  color: #c743a0;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  background-image: linear-gradient(180deg, rgb(250, 250, 250) 0.00%,rgba(250, 250, 250, 0.92) 100.00%);
}
.home-container20 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: space-between;
  flex-direction: column;
}
.home-logos {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container21 {
  flex: 0 0 auto;
  display: flex;
  min-width: 400px;
  align-items: flex-end;
  padding-left: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container23 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-image01 {
  width: 100%;
}
.home-container24 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-image02 {
  width: 100%;
}
.home-container25 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: flex-end;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-image03 {
  top: 15px;
  left: 6px;
  width: 46px;
  height: 29px;
  position: absolute;
}
.home-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container27 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-image04 {
  width: 100%;
  object-fit: cover;
}
.home-container28 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-image05 {
  top: 13px;
  left: 7px;
  width: 45px;
  height: 32px;
  position: absolute;
  object-fit: cover;
}
.home-container29 {
  width: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-image06 {
  width: 100%;
}
.home-container30 {
  flex: 0 0 auto;
  width: 50%;
  height: 70px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container31 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-image07 {
  width: 100%;
}
.home-container32 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-image08 {
  width: 100%;
  object-fit: cover;
}
.home-bottom-wave-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.home-image09 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 102%;
  position: absolute;
  object-fit: cover;
}
.home-top-wave-image {
  top: -5px;
  left: auto;
  right: 0px;
  width: auto;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.home-container33 {
  width: auto;
  height: 100vh;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-container34 {
  width: 100vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: var(--dl-space-space-fourunits);
  margin-right: auto;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text067 {
  font-size: 3rem;
  align-self: center;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text071 {
  color: var(--dl-color-secondary-500);
  font-size: 16px;
  text-align: center;
  padding-top: var(--dl-space-space-unitandahalfunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-sixunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-sixunits);
}
.home-stats {
  width: auto;
  display: grid;
  padding: var(--dl-space-space-doubleunit);
  grid-gap: 32px;
  max-width: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unitandahalfunit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text074 {
  font-size: 3rem;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text075 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text076 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text080 {
  font-size: 3rem;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text081 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text082 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text086 {
  font-size: 3rem;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text087 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text088 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text092 {
  font-size: 3rem;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text095 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text096 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-pricing {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1622986111667-53f4cc94d48d?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ1fHxwdXJwbGUlMjBwaW5rfGVufDB8fHx8MTcwODExODA2NHww&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.home-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 1200px) {
  .home-container01 {
    width: auto;
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-container02 {
    width: auto;
    max-width: auto;
    align-self: flex-start;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    justify-content: center;
  }
  .home-card {
    width: auto;
    align-items: flex-start;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-twelveunits);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-empty {
    max-width: 100%;
  }
  .home-features {
    max-width: 100%;
  }
  .home-container05 {
    flex-wrap: wrap;
  }
  .home-container08 {
    flex-wrap: wrap;
  }
  .home-empty1 {
    max-width: 100%;
  }
  .home-container18 {
    max-width: auto;
  }
  .home-empty2 {
    max-width: 100%;
  }
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-container01 {
    width: 100%;
    max-width: auto;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .home-container02 {
    width: 826px;
    max-width: auto;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
  }
  .home-card {
    width: auto;
    height: auto;
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-text002 {
    color: var(--dl-color-secondary-600);
    align-self: flex-start;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-empty {
    width: auto;
    max-width: 100%;
    margin-left: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-features {
    width: auto;
    max-width: 80%;
    min-width: 50%;
    margin-left: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-text025 {
    color: var(--dl-color-secondary-600);
    align-self: flex-start;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-container08 {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-empty1 {
    width: auto;
    max-width: 100%;
    margin-left: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-container17 {
    height: 805px;
    padding-left: 7vh;
    padding-right: 7vh;
    justify-content: center;
  }
  .home-container18 {
    margin-right: 0px;
  }
  .home-text048 {
    color: var(--dl-color-gray-white);
    font-size: 4rem;
    line-height: 1.2;
  }
  .home-text049 {
    text-transform: uppercase;
  }
  .home-text050 {
    color: var(--dl-color-gray-white);
  }
  .home-text051 {
    color: var(--dl-color-gray-white);
  }
  .home-text052 {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
  }
  .home-text054 {
    color: #ececec;
  }
  .home-text055 {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
  }
  .home-text056 {
    color: #ececec;
  }
  .home-text057 {
    color: #ececec;
  }
  .home-text058 {
    color: #ececec;
  }
  .home-text059 {
    color: #ececec;
  }
  .home-text060 {
    color: #ececec;
  }
  .home-text061 {
    color: #ececec;
  }
  .home-text062 {
    color: #ececec;
  }
  .home-text063 {
    color: #ececec;
  }
  .home-text064 {
    color: #ececec;
    text-decoration: underline;
  }
  .home-text065 {
    color: #ececec;
  }
  .home-empty2 {
    width: auto;
    max-width: 100%;
    margin-left: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-container20 {
    padding: 0px;
    align-items: center;
  }
  .home-logos {
    display: none;
  }
  .home-container33 {
    height: auto;
    max-width: auto;
    margin-top: 0px;
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-container34 {
    width: auto;
    max-width: 80%;
  }
  .home-text067 {
    font-size: 3rem;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-text071 {
    color: var(--dl-color-secondary-600);
    align-self: flex-start;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-text074 {
    font-size: 3rem;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-text080 {
    font-size: 3rem;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-text086 {
    font-size: 3rem;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-text092 {
    font-size: 3rem;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-pricing {
    width: 100%;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1622986111667-53f4cc94d48d?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ1fHxwdXJwbGUlMjBwaW5rfGVufDB8fHx8MTcwODExODA2NHww&ixlib=rb-4.0.3&w=1500');
  }
}
@media(max-width: 767px) {
  .home-hero {
    width: auto;
    height: auto;
    position: relative;
    max-width: auto;
  }
  .home-container01 {
    width: 767px;
    max-width: auto;
    align-items: center;
    flex-direction: column;
  }
  .home-container02 {
    width: auto;
    height: auto;
    max-width: auto;
    align-self: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-fourunits);
    margin-bottom: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .home-card {
    width: 60vh;
    height: auto;
    margin-top: var(--dl-space-space-twelveunits);
    align-items: flex-start;
    margin-right: 0px;
    padding-left: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-text {
    text-align: left;
  }
  .home-text001 {
    text-align: left;
  }
  .home-text002 {
    text-align: left;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-empty {
    max-width: 720px;
    margin-top: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-features {
    max-width: 720px;
    margin-top: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-text023 {
    text-align: left;
  }
  .home-text024 {
    text-align: left;
  }
  .home-text025 {
    text-align: left;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-container08 {
    width: auto;
  }
  .home-empty1 {
    max-width: 720px;
    margin-top: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-testimonials {
    justify-content: center;
  }
  .home-container17 {
    align-items: center;
    padding-top: 12vh;
    padding-bottom: 12vh;
    justify-content: center;
  }
  .home-image {
    width: 35vh;
  }
  .home-empty2 {
    max-width: 720px;
    margin-top: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container33 {
    width: auto;
    height: auto;
    max-width: auto;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-text071 {
    text-align: left;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-stats {
    padding-left: 32px;
    padding-right: 32px;
    grid-template-columns: 1fr 1fr;
  }
  .home-text075 {
    text-align: center;
  }
  .home-text081 {
    text-align: center;
  }
  .home-text087 {
    text-align: center;
  }
  .home-text095 {
    text-align: center;
  }
  .home-steps {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .home-hero {
    width: auto;
    height: auto;
  }
  .home-container01 {
    width: auto;
    height: auto;
    max-width: auto;
    min-height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container02 {
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
    min-height: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .home-card {
    width: auto;
    height: auto;
    align-self: center;
    margin-top: 12vh;
    align-items: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-tripleunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0nits;
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .home-text001 {
    text-align: center;
    line-height: 1.5;
    padding-top: var(--dl-space-space-unitandahalfunit);
  }
  .home-text002 {
    display: none;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container03 {
    align-items: center;
    flex-direction: column;
  }
  .home-container04 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-empty {
    width: 100%;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-features {
    width: 100%;
    min-width: 0px;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-container05 {
    width: auto;
    height: auto;
    margin-top: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .home-text023 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .home-text024 {
    text-align: center;
    line-height: 1.5;
    padding-top: var(--dl-space-space-unitandahalfunit);
  }
  .home-text025 {
    display: none;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-empty1 {
    width: 100%;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-container17 {
    height: auto;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 12vh;
    justify-content: center;
  }
  .home-text048 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
  }
  .home-text049 {
    margin-top: var(--dl-space-space-unit);
  }
  .home-image {
    width: 30vh;
  }
  .home-empty2 {
    width: 100%;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-top-wave-image {
    width: 479px;
    position: 0px;
  }
  .home-container33 {
    height: auto;
    max-width: auto;
  }
  .home-container34 {
    max-width: auto;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text067 {
    font-size: 2.8rem;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-text071 {
    display: none;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-stats {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .home-text074 {
    font-size: 2.8rem;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-text080 {
    font-size: 2.8rem;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-text086 {
    font-size: 2.8rem;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-text092 {
    font-size: 2.8rem;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  .home-steps {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
