.plans-container {
  width: 100%;
  cursor: default;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}
.plans-hero {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: auto;
  align-items: stretch;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.plans-container01 {
  width: 100%;
  height: 105vh;
  display: flex;
  position: relative;
  max-width: auto;
  align-self: center;
  min-height: auto;
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: 0px;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE5fHx3aGl0ZXxlbnwwfHx8fDE3MTAzODcyMzR8MA&ixlib=rb-4.0.3&h=1500");
}
.plans-container02 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: 80%;
  align-self: center;
  min-height: auto;
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.plans-card {
  width: auto;
  height: 75%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius1);
  margin-bottom: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.41);
}
.plans-text {
  height: auto;
  font-size: 2.4em;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plans-text01 {
  color: var(--dl-color-secondary-700);
  font-size: 2.3em;
  text-align: left;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.plans-text02 {
  font-size: 16px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.plans-text04 {
  color: var(--dl-color-secondary-500);
  font-style: normal;
  font-weight: 500;
}
.plans-text06 {
  color: var(--dl-color-secondary-500);
  font-style: normal;
  font-weight: 500;
}
.plans-container03 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-container04 {
  cursor: default;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.plans-link {
  display: contents;
}
.plans-component1 {
  text-decoration: none;
}
.plans-pricing {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1622986111667-53f4cc94d48d?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ1fHxwdXJwbGUlMjBwaW5rfGVufDB8fHx8MTcwODExODA2NHww&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.plans-container05 {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
}
.plans-container06 {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: 48px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: 48px;
  background-size: cover;
  justify-content: center;
}
.plans-card1 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  align-self: flex-start;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(255, 255, 255, 0.78);
}
.plans-text09 {
  color: var(--dl-color-primary-500);
  font-size: 2.5rem;
  align-self: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.plans-container07 {
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.plans-text12 {
  color: var(--dl-color-primary-500);
  font-size: 1.15rem;
  margin-top: 0px;
  font-weight: 300;
  margin-right: var(--dl-space-space-halfunit);
}
.plans-text13 {
  color: var(--dl-color-primary-500);
  font-size: 3rem;
  font-weight: 700;
}
.plans-text14 {
  color: var(--dl-color-primary-500);
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 0px;
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.plans-text15 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.plans-container08 {
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.plans-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text31 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text33 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-button {
  color: var(--dl-color-gray-white);
  font-size: 1.2rem;
  align-self: center;
  font-style: normal;
  margin-top: auto;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-500);
}
.plans-card2 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  align-self: flex-start;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(255, 255, 255, 0.78);
}
.plans-text36 {
  color: #C643C7;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.plans-container09 {
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.plans-text37 {
  color: #C643C7;
  font-size: 1.15rem;
  margin-top: 0px;
  font-weight: 300;
  margin-right: var(--dl-space-space-halfunit);
}
.plans-text38 {
  color: #C643C7;
  font-size: 3rem;
  font-weight: 700;
}
.plans-text39 {
  color: #C643C7;
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 0px;
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.plans-text40 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.plans-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.plans-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text52 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text53 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text54 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text55 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text61 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text67 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text70 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-button1 {
  color: var(--dl-color-gray-white);
  font-size: 1.2rem;
  align-self: center;
  font-style: normal;
  margin-top: auto;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #C643C7;
}
.plans-card3 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  align-self: flex-start;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(255, 255, 255, 0.78);
}
.plans-text73 {
  color: #d225ac;
  font-size: 2.5rem;
  align-self: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.plans-container11 {
  width: 32vh;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
  justify-content: center;
}
.plans-text74 {
  color: #d225ac;
  font-size: 1.15rem;
  margin-top: 0px;
  font-weight: 300;
  margin-right: var(--dl-space-space-halfunit);
}
.plans-text75 {
  color: rgb(210, 37, 172);
  font-size: 3rem;
  font-weight: 700;
}
.plans-text76 {
  color: #d225ac;
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 0px;
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.plans-text78 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.plans-container12 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.plans-text88 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text89 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text90 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text91 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text92 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text93 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text94 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text95 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text96 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-text97 {
  margin-bottom: var(--dl-space-space-unit);
}
.plans-button2 {
  color: var(--dl-color-gray-white);
  font-size: 1.2rem;
  align-self: center;
  font-style: normal;
  margin-top: auto;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #d225ac;
}
.plans-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 1200px) {
  .plans-container01 {
    width: auto;
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .plans-container02 {
    width: auto;
    max-width: auto;
    align-self: flex-start;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    justify-content: center;
  }
  .plans-card {
    width: auto;
    align-items: flex-start;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-twelveunits);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .plans-container05 {
    width: auto;
    max-width: 100%;
  }
  .plans-container06 {
    gap: var(--dl-space-space-doubleunit);
    width: auto;
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-tripleunit);
    justify-content: center;
  }
  .plans-card1 {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .plans-card2 {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .plans-card3 {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 991px) {
  .plans-hero {
    padding-left: 0px;
    padding-right: 0px;
  }
  .plans-container01 {
    width: 100%;
    max-width: auto;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .plans-container02 {
    width: 826px;
    max-width: auto;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
  }
  .plans-card {
    width: auto;
    height: auto;
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .plans-text02 {
    color: var(--dl-color-secondary-600);
    align-self: flex-start;
    margin-right: 0px;
    padding-right: 0px;
  }
  .plans-pricing {
    width: 100%;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1622986111667-53f4cc94d48d?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ1fHxwdXJwbGUlMjBwaW5rfGVufDB8fHx8MTcwODExODA2NHww&ixlib=rb-4.0.3&w=1500');
  }
  .plans-container05 {
    width: 100%;
    padding: var(--dl-space-space-tripleunit);
    flex-wrap: wrap;
  }
  .plans-container06 {
    width: 100%;
    padding: var(--dl-space-space-tripleunit);
    flex-wrap: wrap;
  }
  .plans-card1 {
    width: auto;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .plans-text09 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .plans-card2 {
    width: auto;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .plans-text36 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .plans-card3 {
    width: auto;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .plans-text73 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media(max-width: 767px) {
  .plans-hero {
    width: auto;
    height: auto;
    position: relative;
    max-width: auto;
  }
  .plans-container01 {
    width: 767px;
    max-width: auto;
    align-items: center;
    flex-direction: column;
  }
  .plans-container02 {
    width: auto;
    height: auto;
    max-width: auto;
    align-self: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-fourunits);
    margin-bottom: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .plans-card {
    width: 60vh;
    height: auto;
    margin-top: var(--dl-space-space-twelveunits);
    align-items: flex-start;
    margin-right: 0px;
    padding-left: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .plans-text {
    text-align: left;
  }
  .plans-text01 {
    text-align: left;
  }
  .plans-text02 {
    text-align: left;
    margin-right: 0px;
    padding-right: 0px;
  }
  .plans-container05 {
    width: auto;
    flex-flow: column;
    align-self: stretch;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
  }
  .plans-container06 {
    width: auto;
    flex-flow: column;
    max-width: auto;
    margin-left: var(--dl-space-space-fourunits);
    padding-top: 32px;
    margin-right: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .plans-card1 {
    width: 40vh;
    height: auto;
    padding: var(--dl-space-space-unit);
    margin-top: 12vh;
    margin-left: 0px;
    margin-right: 0px;
  }
  .plans-text12 {
    margin-top: 0px;
  }
  .plans-text14 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .plans-text15 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .plans-card2 {
    width: 40vh;
    height: auto;
    padding: var(--dl-space-space-unit);
    margin-top: 12vh;
    margin-left: 0px;
    margin-right: 0px;
  }
  .plans-text37 {
    margin-top: 0px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .plans-text39 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .plans-text40 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .plans-card3 {
    width: 40vh;
    height: auto;
    padding: var(--dl-space-space-unit);
    margin-top: 12vh;
    margin-left: 0px;
    margin-right: 0px;
  }
  .plans-text74 {
    margin-top: 0px;
  }
  .plans-text76 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .plans-text78 {
    color: var(--dl-color-gray-500);
  }
  .plans-steps {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .plans-hero {
    width: auto;
    height: auto;
  }
  .plans-container01 {
    width: auto;
    height: auto;
    max-width: auto;
    min-height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .plans-container02 {
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
    min-height: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .plans-card {
    width: auto;
    height: auto;
    align-self: center;
    margin-top: 12vh;
    align-items: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-tripleunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0nits;
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .plans-text {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .plans-text01 {
    text-align: center;
    line-height: 1.5;
    padding-top: var(--dl-space-space-unitandahalfunit);
  }
  .plans-text02 {
    display: none;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .plans-container03 {
    align-items: center;
    flex-direction: column;
  }
  .plans-container04 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plans-container05 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .plans-container06 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .plans-card1 {
    width: 40vh;
    height: auto;
    align-self: center;
    margin-top: 12vh;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .plans-text12 {
    margin-top: 0px;
  }
  .plans-text14 {
    align-self: center;
    margin-top: 0px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .plans-container08 {
    align-items: flex-start;
  }
  .plans-card2 {
    width: 40vh;
    height: auto;
    align-self: center;
    margin-top: 12vh;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .plans-text38 {
    color: rgb(198, 67, 199);
    font-size: 3rem;
    font-weight: 700;
  }
  .plans-text39 {
    color: rgb(198, 67, 199);
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 300;
    margin-left: var(--dl-space-space-halfunit);
  }
  .plans-container10 {
    align-items: flex-start;
  }
  .plans-card3 {
    width: 40vh;
    height: auto;
    align-self: center;
    margin-top: 12vh;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .plans-container12 {
    align-items: flex-start;
  }
  .plans-steps {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
