.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.78);
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 25vh;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: auto;
  background-size: cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(250, 250, 250) 42.00%,rgba(44, 62, 80, 0.1) 100.00%),url("/curved6-1500h.jpg");
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-image {
  width: auto;
  height: 109px;
  object-fit: cover;
  margin-left: var(--dl-space-space-tripleunit);
}
.footer-text {
  color: var(--dl-color-secondary-500);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  font-family: "Nunito";
  font-weight: 500;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.21);
}
.footer-root-class-name {
  background-color: rgba(14, 14, 14, 0.41);
}

.footer-root-class-name2 {
  background-color: rgba(14, 14, 14, 0.41);
}
@media(max-width: 1200px) {
  .footer-image {
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-text {
    width: 20vh;
    font-size: 1rem;
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 991px) {
  .footer-container {
    padding: var(--dl-space-space-doubleunit);
  }
  .footer-text {
    width: auto;
    font-size: 0.5rem;
  }
}
@media(max-width: 767px) {
  .footer-container {
    flex-direction: column;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-image {
    height: auto;
    margin-left: 0px;
  }
  .footer-text {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .footer-container {
    width: 100%;
    height: auto;
  }
  .footer-image {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .footer-text {
    font-size: 0.7rem;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}
