.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: #fafafa;
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}

.primary-pink-button-root-class-name {
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-doubleunit);
}
.primary-pink-button-root-class-name1 {
  align-self: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
}
.primary-pink-button-root-class-name2 {
  align-self: flex-end;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-sixunits);
}
.primary-pink-button-root-class-name4 {
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-sixunits);
}
.primary-pink-button-root-class-name5 {
  align-self: flex-end;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-sixunits);
}
@media(max-width: 1200px) {
  .primary-pink-button-root-class-name {
    margin-left: var(--dl-space-space-tripleunit);
  }
}
